/**
 * @file
 * Styling for szentirashu_formatter.
 */

.szentirashu-loader {
  display: inline-block;
  border: .25em solid #f3f3f3;
  border-radius: 50%;
  border-top: .25em solid #5fb336;
  width: 1em;
  height: 1em;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.szentirashu-reference {
  color: #999;
}
.szentirashu-error {
  color: red;
}
.szentirashu-disabled {
  text-decoration: none;
  cursor: text;
}
